<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment_event.user_id %>
</p>

<p>
  <b>Content:</b>
  <%= @comment_event.content %>
</p>

<p>
  <b>Event:</b>
  <%= @comment_event.event_id %>
</p>

<p>
  <b>Score:</b>
  <%= @comment_event.score_id %>
</p>


<%= link_to 'Edit', edit_comment_event_path(@comment_event) %> |
<%= link_to 'Back', comment_events_path %>
