<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @job.group_id %>
</p>

<p>
  <b>Job:</b>
  <%= @job.job %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
