<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @promo.title %>
</p>

<p>
  <b>School:</b>
  <%= @promo.school_id %>
</p>


<%= link_to 'Edit', edit_promo_path(@promo) %> |
<%= link_to 'Back', promos_path %>
